/* Property Details Section */
.property-details {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
  }
  
  .property-details h2 {
    margin-bottom: 20px;
    font-size: 2rem;
  }
  
  .property-details p {
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #555;
  }
  
  .property-details .price {
    font-weight: bold;
    color: #333;
  }
  
  /* Contact Owner Section */
  .contact-owner {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f8f8f8;
  }
  
  .contact-owner h2 {
    margin-bottom: 20px;
  }
  
  #contactForm {
    display: flex;
    flex-direction: column;
  }
  
  #contactForm label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  #contactForm input,
  #contactForm textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #contactForm button {
    align-self: flex-start;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #contactForm button:hover {
    background-color: #444;
  }
  