/* CREATIVE STUDIO RENTALS FONT */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* BODY HEADER FONT - Figtree */
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

/* BODY FONT - Alegreya Sans */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

.logo {
  font-family: 'Pacifico', cursive;
  cursor: default;
}
.logo-link {
  text-decoration: none;
  color: black;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Figtree', sans-serif;
}

body {
  font-family: 'Alegreya Sans', sans-serif;
  max-width: 1386px;
  margin: 0 auto;
  position: relative; /* Required for the ::after pseudo-element */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1rem;
  margin-bottom: 1rem;
}
header nav ul {
  display: flex;
  gap: 1rem;
}

nav ul li {
  list-style-type: none;
}

.nav-btn-with-background {
  color: black;
  border: 2px solid gray;
  text-decoration: none;
  padding: 0.7rem;
}

.nav-btn-with-background:hover {
  color: white;
  background-color: gray;
}

.nav-btn-plain-text {
  color: black;
  font-size: larger;
  text-decoration: none;
  padding: 0.7rem 0.1rem 0.7rem 0.7rem;
}

.nav-btn-plain-text:hover {
  color: gray;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

footer {
  margin-top: 2rem;
  text-align: center;
}

/* BODY BUTTON */
.body-btn {
  padding: 10px; /* Adds padding inside the button */
  background-color: black; /* Sets the background color */
  color: white;
  border: 1px solid gray; /* Removes the default border */
  border-radius: 7px; /* Adds rounded corners */
  cursor: pointer; /* Changes the cursor to a pointer */
  transition: background-color 0.3s, transform 0.3s; /* Adds smooth transition effects */
  font-size: medium;
}

.body-btn:hover {
  background-color: white; /* Changes background color on hover */
  color: black;
  transform: scale(1.05); /* Slightly enlarges the button on hover */
}

.body-btn:active {
  transform: scale(1); /* Resets the scale when the button is clicked */
}

.body-btn:focus {
  outline: none; /* Removes the default focus outline */
}

/* CSS for the modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  margin: 9rem auto; /* Add margin-top to move the modal downward */
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: larger;
}

.close {
  color: #aaa;
  float: right;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 1rem;
}

.modal-btn {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modal-btn:hover {
  background-color: #404142;
}
