main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  padding: 1rem;
}

.slideshow {
  position: relative;
  width: 100%;
  max-width: 1000px;
  height: 60vw; /* Use a relative height for responsiveness */
  max-height: 600px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide.active {
  opacity: 1;
}

#main-text {
  margin-top: 2rem;
}


@media screen and (max-width: 768px) {
  .slideshow {
    height: 65vw; /* Increase height a bit for smaller screens */
  }
}