/* General Styles */
main h1 {
  text-align: center; /* Centers the heading */
  margin: 3rem 0; /* Adds space above and below the heading */
}

/* Filters Section */
.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the filter section */
  align-items: center; /* Center the filter section */
  margin: 20px auto; /* Center the filter section horizontally */
  padding: 10px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 5px;
  max-width: 1000px;
}

.logo {
  cursor: pointer;
}

.filter-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.filter-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

/* Styles for range filters */
.range-filter {
  display: flex;
  align-items: center;
}

.range-filter input {
  width: 100px; /* Width of the input boxes */
  margin: 0 5px; /* Space between inputs and the span */
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.range-filter span {
  margin: 0 5px; /* Space around the 'to' label */
}

/* Center dropdown text */
.filter-group select {
  text-align: center; /* Center the text */
  text-align-last: center; /* For certain browsers to ensure text alignment */
}

/* Specific Adjustments */
.filter-group .search-bar {
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 10px; /* Add some space between the search bar and filters */
}

/* Button Container */
.filter-button-container {
  display: flex;
  justify-content: center; /* Center the button */
  margin: 20px auto; /* Center horizontally and add spacing */
  width: 100%; /* Ensure it takes full width */
}

/* Button Styles */
#filterButton {
  padding: 10px 20px; /* Adjust button padding for better appearance */
  font-size: 1rem; /* Adjust font size for better readability */
  border: none; /* Remove default border */
  border-radius: 5px; /* Rounded corners */
  background-color: black; /* Button background color */
  color: #fff; /* Button text color */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s; /* Smooth background color change */
  width: auto; /* Button width adjusted based on its content */
}

#filterButton:hover {
  background-color: #404142;
}

/* Clear Filters Button Styles */
#clearFiltersButton {
  padding: 10px 20px; /* Adjust button padding for better appearance */
  font-size: 1rem; /* Adjust font size for better readability */
  border: none; /* Remove default border */
  border-radius: 5px; /* Rounded corners */
  background-color: black; /* Button background color */
  color: #fff; /* Button text color */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s; /* Smooth background color change */
  margin-left: 10px; /* Add space between buttons */
}

#clearFiltersButton:hover {
  background-color: #404142;
}

/* Container holding studioBox elements */
#studios-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Adjusts the distribution of boxes within the container */
  gap: 2rem; /* Adds space between the boxes */
  padding: 20px; /* Adds padding around the container */
}

/* Styling for each studioBox */
.studio-box {
  border: 1px solid #ddd; /* Solid border */
  padding: 10px; /* Space inside the box around the content */
  width: calc(30% - 20px); /* Adjusted for three boxes per row, accounting for margin */
  cursor: pointer; /* Changes the mouse cursor to indicate the box is clickable */
  background-color: #fff; /* Background color for the box */
  transition: transform 0.2s; /* Smooth transformation when hovered */
  border-radius: 0.5rem; /* Adds rounded corners to the box */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Adds shadow */
  min-width: 250px; /* Ensures minimum width */
}

.studio-box:hover {
  transform: scale(1.05); /* Slightly enlarges the box on hover */
}

.studio-box h3 {
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.studio-box p {
  margin-bottom: 5px;
  font-size: 1rem;
  color: #555;
}

.studio-box .price {
  font-weight: bold;
  color: #333;
}

.studio-box .description {
  margin-bottom: 10px;
  color: #777;
}

/* Button Styles */
.nav-btn {
  border: none;
  outline: none;
  background-color: transparent; /* Set background color to transparent */
  color: black;
  font-size: 1.05rem;
  text-decoration: none;
  padding-top: 0.1rem;
}

.nav-btn:hover {
  color: gray;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  cursor: pointer;
}

/* Media Queries */
@media (max-width: 1024px) {
  .studio-box {
    width: calc(45% - 20px);
    margin-bottom: 20px; /* Add space between rows */
  }

  .filter-button-container {
    margin-left: auto; /* Center the button container */
    margin-right: auto;
  }
}

@media (max-width: 768px) {
  .studio-box {
    width: calc(90% - 20px); /* One box per row on smaller screens */
    margin-bottom: 20px; /* Add space between rows */
  }

  .filters {
    flex-direction: column; /* Stack filters vertically on smaller screens */
    align-items: stretch; /* Ensure filters take full width */
    width: 90%;
  }

  .filter-group {
    align-items: stretch; /* Ensure filters take full width */
  }

  .filter-button-container {
    width: 60%; /* Ensure the container takes full width */
    margin-top: 20px; /* Adjust spacing */
  }

  #filterButton,
  #clearFiltersButton {
    width: 100%; /* Ensure the buttons take full width on mobile screens */
    padding: 12px; /* Adjust padding for mobile screens */
  }
}

@media (max-width: 480px) {
  #studios-container {
    gap: 1rem; /* Reduces space between boxes for smaller screens */
  }

  .studio-box {
    width: calc(100% - 20px); /* One box per row on mobile phones */
    margin: 10px;
    padding: 10px;
  }

  .filters {
    padding: 5px; /* Reduce padding for smaller screens */
    align-items: stretch;
    max-width: 100%; /* Ensure the filters take full width */
  }

  .filter-group {
    margin: 5px 0; /* Reduce margin for smaller screens */
  }

  .filter-button-container {
    margin-top: 20px; /* Adjust spacing */
  }

  #filterButton,
  #clearFiltersButton {
    width: 100%; /* Ensure the buttons take full width on mobile screens */
    padding: 8px; /* Adjust padding for mobile screens */
  }

  .nav-btn {
    font-size: small;
  }
}
